spring:
  datasource:
    username: root
    password: cynwml5201314
    url: jdbc:mysql://106.54.70.153:3306/gulimall_pms?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.jdbc.Driver
  application:
    name: gulimall-product
  cloud:
    alicloud:
      saccess-key: LTAI4G9P5FxadKiKBBTiQTxo
      secret-key: yISf3fEi8MFZd1u7LwNybDPN23MdbI
      oss:
        endpoint: oss-cn-beijing.aliyuncs.com
    nacos:
      discovery:
        server-addr: 106.54.70.153:8848

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
      # 全局逻辑删除逻辑
      logic-delete-value: 1
      logic-not-delete-value: 0
server:
  port: 10000
logging:
  level:
    com.cyn.gulimall: debug